* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  /* border: 1px solid blue; */
  margin-top: 80px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid orange; */
}

.main-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid purple; */
  width: 100%;
}

.product-container {
  display: flex;
  gap: 10%;
  flex-wrap: wrap;
  align-items: flex-start;
  /* border: 1px solid red; */
  width: 100%;
}

.product-image {
  position: relative;
  flex: 1;
  /* border: 1px solid pink; */
  width: 100%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image img {
  width: 85%;
  display: block;
  border: 1px solid #ddd;
  /* border: 1px solid #1daf31; */
  border-radius: 5px;
}

.thumbnails-container {
  display: flex;
  overflow-x: auto;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  /* border: 1px solid black; */
  width: 75%;
}

.thumbnails {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
  width: 100%;
  justify-content: space-between;
}

.thumbnails img {
  width: 70px;
  height: auto;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  flex: 0 0 auto;
}

.product-details {
  flex: 1;
  max-width: 500px;
  /* border: 1px solid green; */
}

.product-vendor {
  color: #b9bbbf;
  font-size: 16px;
}

.head {
  margin-bottom: 5px;
  width: 582px;
  height: 64px;
}

.product-title {
  font-size: 28px;
  color: #000000;
}

.price-container {
  display: flex;
  align-items: center;
}

.price {
  font-size: 34px;
  font-weight: bold;
  color: #3a4980;
  margin-right: 10px;
}

.percentage-off {
  font-size: 16px;
  color: #ff0000;
}

.compare-at-price {
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
}

.color-container {
  margin-top: 20px;
  position: relative;
  font-weight: 500;
}

.color-text {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  color: #b9bbbf;
  text-align: left;
}

.c-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 0%;
  box-shadow: inset 0 0 0 5px #fff;
  cursor: pointer;
}

.color.selected {
  box-shadow: inset 0 0 0 5px #fff;
  background-image: url("images/tick.png");
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.size-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 14px;
}

.size-selector {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.size-type-container {
  display: flex;
  padding: 7px 10px;
  align-items: center;
  border-radius: 8px;
  background: #f3f3f3;
  margin-right: 10px;
}

.size-selector input {
  display: none;
}

.size-selector label {
  position: relative;
  cursor: pointer;
  font-size: 14px;

  color: #726c6c;
  font-family: Inter;
}

.size-selector input[type="radio"] {
  display: none;
}

.size-selector input[type="radio"] + label {
  position: relative;
  padding-left: 25px;

  cursor: pointer;
}

.size-selector input[type="radio"] + label:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  /* border: 1px solid #fff; */
  border: 2px solid #3a4980;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
}

.size-selector input[type="radio"]:checked + label:before {
  background-color: #3a4980;
}
.size-selector input[type="radio"]:checked + label {
  color: #3a4980;
}

.quantity-add-container {
  display: flex;
  gap: 2%;
  margin-top: 5%;
}

.quantity-selector {
  position: relative;
  border-radius: 29.5px;
  background-color: #f3f3f3;
  width: 120px;
  height: 59px;
  padding: 5px;
  margin-right: 10px;
  font-size: 22px;
}

.rectangle-parent4 {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 29.5px;
  background-color: #f3f3f3;
  width: 40%;
  height: 59px;
  padding: 0 10px;
  font-size: 22px;
}

.rectangle-parent4 b {
  cursor: pointer;
}

.b1,
.b3 {
  flex: 1;
  color: #3a4980;
  text-align: center;
}
.b1 {
  color: #a3a3a3;
}

.b2 {
  flex: 2;
  color: #3a4980;
  text-align: center;
}

.add-to-cart-btn::before {
  content: url("images/bag.png");
  margin-right: 8px;
}

.add-to-cart-btn {
  position: relative;
  border-radius: 29.5px;
  background-color: #3a4980;
  width: 75%;
  height: 59px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-cart-btn:hover {
  background-color: #3a4980;
  border-radius: 29.5px;
}

.message-container {
  margin-top: 10px;
}

.add-to-cart-message {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.description {
  margin-top: 10px;
}

.product-description {
  position: relative;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  font-family: Inter;
  color: #a3a3a3;
  text-align: left;
  display: inline-block;
  width: 558px;
}

@media screen and (max-width: 767px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  .head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .product-image {
    width: 100%;
  }

  .product-details {
    max-width: 90%;
  }
  .product-title {
    font-size: 4.8vw;
  }

  .thumbnails-container {
    width: 100%;
    overflow-x: auto;
  }

  .product-details .head {
    width: 100%;
    text-align: center;
  }

  .product-description {
    width: 100%;
    text-align: center;
    font-size: 3.5vw;
  }

  .price-container {
    flex-direction: row;
    align-items: center;
  }

  .price {
    font-size: 28px;
  }

  .percentage-off {
    font-size: 14px;
  }

  .compare-at-price {
    font-size: 14px;
  }

  .color-container,
  .size-container {
    width: 100%;
    text-align: center;
    overflow-x: auto;
  }

  .quantity-add-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .rectangle-parent4 {
    width: 60%;
  }

  .add-to-cart-btn {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .main-container,
  .product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .product-container {
    gap: 30px;
  }

  .product-image {
    width: 40%;
  }

  .product-details {
    max-width: 50%;
  }

  .product-details .head {
    width: 100%;
    text-align: left;
  }

  .product-description {
    width: 100%;
    text-align: left;
  }

  .price {
    font-size: 24px;
  }

  .percentage-off,
  .compare-at-price {
    font-size: 12px;
  }

  .color-container,
  .size-container {
    width: 100%;
    text-align: left;
    overflow-x: auto;
  }

  .rectangle-parent4 {
    width: 100%;
  }

  .add-to-cart-btn {
    width: 180%;
  }
}
